<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <title>Musicapp</title>
</head>
<body>
    <div class="container">
        <h1 class='text-center'>Canción</h1>
        <label>Título</label>
        <p id='title'></p>
        <label>Artista</label>
        <p id='artist'></p>
        <!-- añadir atributo src a iframe con domelemet -->
        <iframe id='url' width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>